---
layout: default
---

{% include lang.html %}

<article class="px-1 game-layout">
    <header class="game-header">
        <h1 class="dynamic-title">
            {{ page.title }}
        </h1>
    </header>

    <section class="game-container">
        {{ content }}
    </section>
</article>

{% if page.scripts %}
{% for js in page.scripts %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}
{% endif %}

{% if page.stylesheets %}
{% for css in page.stylesheets %}
<link rel="stylesheet" href="{{ css | relative_url }}">
{% endfor %}
{% endif %}